# Çevresel değişken dosyaları
.env
*.env
.env.local
.env*.local

echo -e "\n# Backend env files\nbackend/.env\nbackend/*.env" >> .gitignore

# IDE özel dosyalar
/shelf/
/workspace.xml
.idea/

# Python özel
__pycache__/
*.py[cod]
*.pyc